@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');

:root {
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
    --light-theme-background-color: #FAFAFA;
    --dark-theme-background-color: #171823;
    --light-theme-text-color: #494C6B;
    --dark-theme-text-color: #CACBE7;
    --dark-theme-container-color: #25273D;
    --light-theme-container-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-collapse: separate;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

html {
    font-size: 18px;
    height: 100vh;
}



body {
    font-weight: 100;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}



h1, h2, h3, h4, h5, h6, p, li, input {
    line-height: 130%;
    font-weight: 400;
}

li, ul {
    list-style: none;
}

button {
    background: inherit;
    border: none;
    font-size: .9em;
    color: inherit;
    cursor: pointer;
}

header {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    padding: 0 24px;
    padding-top: 36px;
    background: url('/images/bg-desktop-light.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36px;
}

header.dark-theme {
    background: url('/images/bg-desktop-dark.jpg');
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    color: white;
    font-weight: 400;
}



.header > .logo {
    font-weight: 800;
    cursor: pointer;
}
.input-form {
    width: 100%;
    max-width: 500px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}



.input-form #input-field{
    background: inherit;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    outline: none;
}


.icon {
    width: 25px;
    height: 25px;
    margin: 0 1em;
    border-radius: 50%;
    border: 1px solid #393A4B;
    background: none;
    cursor: pointer;
}

.main-section {
    padding: 0 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    align-items: center;
}

.todo-list {
    background: inherit;
    width: 100%;
    max-width: 500px;
    min-height: 3rem;
    max-height: 100%;
    overflow-y: auto;
    margin-top: -40px;
    border-radius: 6px 6px 0 0;
    filter: drop-shadow(-4px 0 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 0 4px rgba(0, 0, 0, 0.25));
}


.todo-list::-webkit-scrollbar {
    width: 6px;
}

.todo-list::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 6px;
}

.todo-list::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 6px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
    border-radius: 6px;
}

.todo-list::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 6px;
}

.todo-item {
    border-bottom: 1px solid #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.todo-text {
    flex: 1 0;
    color: inherit;
}

.icon.icon-close {
    border: none;
    display: none;
}

.icon.icon-close * {
    pointer-events: none;
}

.todo-item:hover .icon-close {
    display: unset;
}

.checked {
    background: linear-gradient(#dd051b, #1d00dc);
}

.icon.icon-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.icon-check * {
    pointer-events: none;
}

.icon.icon-check:hover {
    background: linear-gradient(#dd051b, #1d00dc);
}

.icon.icon-check:hover>div {
    background-color: #fff;
}

.disable-bg-hover:hover {
    background-color: inherit;
}

.gradiented {
    background: linear-gradient(#dd051b, #1d00dc);
}

.icon.icon-check>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.hover-white:hover {
    background-color: #fff;
}

.nav-bar {
    color: #9495A5;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-collapse: separate;
    border-radius: 0  0 6px 6px;
    padding: 1rem;
    filter: drop-shadow(-4px 0 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 0 4px rgba(0, 0, 0, 0.25));
}


.nav-bar .nav-menu {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}

.nav-bar .nav-text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-menu .nav-item:hover {
    color: #494C6B;
}

.nav-bar .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}



.activated {
    color: #3A7CFD;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh 1em;
}

/* Mobile View */

@media screen and (max-width: 375px) {
    .nav-bar {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .nav-bar .nav-text {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .nav-bar .nav-menu {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-content: space-around;
        border-top: 1px solid #979797;
        padding: 1rem;
    }

    .nav-bar .nav-btn {
        grid-column: 4 / -1;
        grid-row: 1 / 2;
    }
}
