@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');

:root {
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
    --light-background-color: #f2f2f2;
    --dark-background-color: #171823;
    --light-theme-text-color: "#494C6B";
    --dark-theme-text-color: "#fff";
    --dark-theme-container-color: #25273D;
    --light-theme-container-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-collapse: separate;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

html {
    font-size: 18px;
}

body {
    background: var(--light-background-color);
    font-weight: 100;
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}



h1, h2, h3, h4, h5, h6, p, li, input {
    line-height: 130%;
    font-weight: 400;
}

li, ul {
    list-style: none;
}

button {
    background: inherit;
    border: none;
    font-size: .9em;
    color: inherit;
    cursor: pointer;
}

header {
    width: 100%;
    height: 38vh;
    padding: 0 1em;
    padding-top: 9vh;
    background: url('/images/bg-desktop-light.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

header.dark-theme {
    background: url('/images/bg-desktop-dark.jpg');
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 6vh;
    max-width: 500px;
    color: white;
    font-weight: 400;
}

.header.light-theme {
    color: var(--light-theme-text-color);
}

.header > .logo {
    font-weight: 800;
    cursor: pointer;
}
.input-form {
    background-color: #ffffff;
    width: 100%;
    height: 10vh;
    max-width: 500px;
    margin-bottom: 6vh;
    display: flex;
    align-items: center;
    border-radius: 6px;
}



.input-form #input-field{
    width: 100%;
    height: 10vh;
    padding: 1vh;
    font-size: 21px;
    color: #393A4B;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    outline: none;
}


.icon {
    width: 25px;
    height: 25px;
    margin: 0 1em;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    background: none;
    cursor: pointer;
}

.main-section {
    background: var(--light-background-color);
    width: 100%;
    max-width: 500px;
    height: 68vh;
    border-radius: 10px;
    margin-top: -6vh;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
}

.main-section > *:not(:last-child) {
    filter: drop-shadow(-4px 0 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 0 4px rgba(0, 0, 0, 0.25));
}

.main-section.dark-theme {
    background: var(--dark-background-color);
}

.main-section .todo-list {
    background: inherit;
    width: 100%;
    height: 80%;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}


.main-section .todo-list .todo-item {
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.main-section .todo-list .todo-item .todo-text {
    flex: 1 0;
    color: #494C6B;
}

.icon.icon-close {
    border: none;
    display: none;
}

.icon.icon-close * {
    pointer-events: none;
}

.main-section .todo-list .todo-item:hover .icon-close {
    display: unset;
}

.checked {
    background: linear-gradient(#dd051b, #1d00dc);
}

.icon.icon-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.icon-check * {
    pointer-events: none;
}

.icon.icon-check:hover {
    background: linear-gradient(#dd051b, #1d00dc);
}

.icon.icon-check:hover>div {
    background-color: #fff;
}

.disable-bg-hover:hover {
    background-color: inherit;
}

.gradiented {
    background: linear-gradient(#dd051b, #1d00dc);
}

.icon.icon-check>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.hover-white:hover {
    background-color: #fff;
}

.nav-bar {
    width: 100%;
    max-width: 500px;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #9495A5;
    border-collapse: separate;
    border-radius: 30px;
}

.nav-bar > * {
    padding: 0 10px;
    height: 100%;
}


.nav-bar .nav-menu {
    display: flex;
    flex: 1 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.nav-bar .nav-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu .nav-item{
    color: #9495A5;
}

.nav-menu .nav-item:hover {
    color: #494C6B;
}

.nav-bar .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-btn:hover {
    color:#494C6B;
}

.nav-btn.actived {
    color: '#3A7CFD';
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9495A5;
    padding: 4vh 1em;
}

/* Mobile View */

@media screen and (max-width: 375px) {
    .nav-bar {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 1.5vh;
    }

    .nav-bar .nav-text {
        justify-content: flex-start;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .nav-bar .nav-menu {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-content: space-around;
    }

    .nav-bar .nav-btn {
        grid-column: 4 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
    }
}
